# Project Configuration
PROJECT_NAME="SignBridge AI"
DB_NAME="signbridge_ai"
MONGO_URI="mongodb://<username>:<password>@<host>:<port>/<dbname>"

# AI Engine Configuration
WEBCAM_SOURCE="0"
MP_STATIC_IMAGE_MODE="False"
MP_MAX_NUM_HANDS="2"
MP_MIN_DETECTION_CONFIDENCE="0.5"
MP_MIN_TRACKING_CONFIDENCE="0.5"

# Model Thresholds
GESTURE_CONFIDENCE_THRESHOLD="0.7"
SEQUENCE_BUFFER_SIZE="30"
