[flake8]
max-line-length = 120
extend-ignore = E203, W503, E501, E231, E402, F811, F401, E741
exclude = 
    .git,
    __pycache__,
    .venv,
    .venv312,
    node_modules,
    frontend/node_modules,
    dist
