node_modules
dist
.env
.env.local # For local environment variables, if you choose to use python-dotenv
.env.*
__pycache__
*.py[cod]
*.pyo
*.pyd
*.db
*.sqlite3
frontend/node_modules
backend/.venv
.vscode
.idea
backend/config.py # Add this to ignore local configuration with API keys
.DS_Store
.vscode
.idea
*.log
